{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main>
 <body>
<section>
        <body>
            <h1 class="form__title">Список товаров</h1>
            <p>{{info}}</p>
{{#with data.products}}
{{#each list}}
            <section class="card">
                <div class="title_name">{{name}}</div>
                <div class="body_description">{{description}}</div>
                <div class="mini_id">Id</div>
                <div class="price">{{price}}</div>
                <div class="edit">Редактировать</div>
            </section>
        </body>
    </section>
{{/each}}
{{/with}}
</body>
</main>
{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}