<main class="main">
    <section class="">
        <div class="form">
            <h1 class="form__title">Создание товара</h1>
            <form action="/product-alert" method="POST">
                <div class="form__title_tu">Информация о товаре</div>
                <div class="form__content">
                    <div class="form__field">
                        <label for="name" class="form__label">Название товара:</label>
                        <input type="text" name="name" class="form__input">
                    </div>
                    <div class="form__field">
                        <label for="price" class="form__label">Цена:</label>
                        <input type="text" name="price" class="form__input">
                    </div>
                    <div class="form__field">
                        <label for="description" class="form__label">Описание:</label>
                        <input type="text" name="description" class="form__input">
                        <p class="litl_description">Отображается в карточке товара</p>
                    </div>
                    <button class="form__button">Создать!</button>
                </div>
            </form>
        </div>
    </section>
</main>
